* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

header {
    background-color: #8D63E5;
    height: 5rem;
    display: flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    height: 100%;
    padding: 0.5rem;
}

header p img{
    width: 20rem;
}

header nav {
    display: flex;
    justify-content: flex-end;
    height: 6rem;
    align-items: center;

}

header nav img {
    width: 100%;
    height: 80%;
}

header nav a img{
    display: block;
    width: 80%;
}

footer {
    background-color: #8D63E5;
    height: 5rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer img {
    height: 90%;
    padding: 0.7rem;
    margin-top: 0.2rem;
}

body#main {
    background-image: url("../img/fundo.png");
    background-size: cover;
}

main {
    height: 84vh;
}

main {
    min-height: calc(100vh - 9rem);
}

main section.img {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

main section.img aside {
    display: flex;
    flex-direction: column;
}

main section.img aside img {
    padding: 1rem;
}

body.classe {
    background-image: url("../img/fundo2.png");
    background-size: cover;
}